<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ESP32-CAM Robot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        font-family: Arial;
        text-align: center;
        margin: 0px auto;
        padding-top: 30px;
      }
      table {
        margin-left: auto;
        margin-right: auto;
      }
      td {
        padding: 8 px;
      }
      .button {
        background-color: #2f4468;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin: 6px 3px;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
      img {
        width: auto;
        max-width: 100%;
        height: auto;
      }
    </style>
    <!-- <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script> -->
  </head>
  <body>
    <h1>ESP32-CAM Robot</h1>
    <img src="" id="photo" />
    <table>
      <tr>
        <td colspan="3" align="center">
          <button
            class="button"
            onmousedown="toggleCheckbox('forward');"
            ontouchstart="toggleCheckbox('forward');"
            onmouseup="toggleCheckbox('stop');"
            ontouchend="toggleCheckbox('stop');"
          >
            Forward
          </button>
        </td>
      </tr>
      <tr>
        <td align="center">
          <button
            class="button"
            onmousedown="toggleCheckbox('left');"
            ontouchstart="toggleCheckbox('left');"
            onmouseup="toggleCheckbox('stop');"
            ontouchend="toggleCheckbox('stop');"
          >
            Left
          </button>
        </td>
        <td align="center">
          <button
            class="button"
            onmousedown="toggleCheckbox('stop');"
            ontouchstart="toggleCheckbox('stop');"
          >
            Stop
          </button>
        </td>
        <td align="center">
          <button
            class="button"
            onmousedown="toggleCheckbox('right');"
            ontouchstart="toggleCheckbox('right');"
            onmouseup="toggleCheckbox('stop');"
            ontouchend="toggleCheckbox('stop');"
          >
            Right
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="3" align="center">
          <button
            class="button"
            onmousedown="toggleCheckbox('backward');"
            ontouchstart="toggleCheckbox('backward');"
            onmouseup="toggleCheckbox('stop');"
            ontouchend="toggleCheckbox('stop');"
          >
            Backward
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="3" align="center">
          <!-- <button class="button" onclick="capturePhoto();">Take a photo</button> -->
          <button class="button" id="btnTakePhoto">
            Take and Save a Photo
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="3" align="center">
          <button class="button" id="btnLeftSpeedDecrease">
            Decrease Left Speed
          </button>
          <input type="text" id="iptLeftSpeed" value="{{leftSpeed}}" />
          <button class="button" id="btnLeftSpeedIncrease">
            Increase Left Speed
          </button>
        </td>
      </tr>

      <tr>
        <td colspan="3" align="center">
          <button class="button" id="btnRightSpeedDecrease">
            Decrease Right Speed
          </button>
          <input type="text" id="iptRightSpeed" value="{{rightSpeed}}" />
          <button class="button" id="btnRightSpeedIncrease">
            Increase Right Speed
          </button>
        </td>
      </tr>

      <tr>
        <td colspan="3" align="center">
          <button class="button" id="btnServoLeft">Servo Left</button>
          <input type="text" id="iptServoAngle" value="{{servoAngle}}" />
          <button class="button" id="btnServoRight">Servo Right</button>
        </td>
      </tr>
    </table>

    <script>
      function toggleCheckbox(x) {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "http://192.168.1.64/action?go=" + x, true);
        xhr.send();
      }
      document
        .getElementById("btnTakePhoto")
        .addEventListener("click", function () {
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/download", true);
          xhr.setRequestHeader(
            "Content-Type",
            "application/x-www-form-urlencoded"
          );
          xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
              document.getElementById("responseMessage").textContent =
                xhr.responseText;
            }
          };
          xhr.send();
        });
      document
        .getElementById("btnLeftSpeedDecrease")
        .addEventListener("click", function () {
          toggleCheckbox("leftSpeedDecrease");
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/getLeftSpeed", true);
          xhr.setRequestHeader(
            "Content-Type",
            "application/x-www-form-urlencoded"
          );
          xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
              document.getElementById("iptLeftSpeed").value = xhr.responseText;
            }
          };
          xhr.send();
        });
      document
        .getElementById("btnLeftSpeedIncrease")
        .addEventListener("click", function () {
          toggleCheckbox("leftSpeedIncrease");
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/getLeftSpeed", true);
          xhr.setRequestHeader(
            "Content-Type",
            "application/x-www-form-urlencoded"
          );
          xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
              document.getElementById("iptLeftSpeed").value = xhr.responseText;
            }
          };
          xhr.send();
        });
      document
        .getElementById("btnRightSpeedDecrease")
        .addEventListener("click", function () {
          toggleCheckbox("rightSpeedDecrease");
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/getRightSpeed", true);
          xhr.setRequestHeader(
            "Content-Type",
            "application/x-www-form-urlencoded"
          );
          xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
              document.getElementById("iptRightSpeed").value = xhr.responseText;
            }
          };
          xhr.send();
        });
      document
        .getElementById("btnRightSpeedIncrease")
        .addEventListener("click", function () {
          toggleCheckbox("rightSpeedIncrease");
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/getRightSpeed", true);
          xhr.setRequestHeader(
            "Content-Type",
            "application/x-www-form-urlencoded"
          );
          xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
              document.getElementById("iptRightSpeed").value = xhr.responseText;
            }
          };
          xhr.send();
        });
      document
        .getElementById("btnServoLeft")
        .addEventListener("click", function () {
          toggleCheckbox("servoLeft");
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/getServoAngle", true);
          xhr.setRequestHeader(
            "Content-Type",
            "application/x-www-form-urlencoded"
          );
          xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
              document.getElementById("iptServoAngle").value = xhr.responseText;
            }
          };
          xhr.send();
        });
      document
        .getElementById("btnServoRight")
        .addEventListener("click", function () {
          toggleCheckbox("servoRight");
          // toggleCheckbox('servoAngle');
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/getServoAngle", true);
          xhr.setRequestHeader(
            "Content-Type",
            "application/x-www-form-urlencoded"
          );
          xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
              document.getElementById("iptServoAngle").value = xhr.responseText;
            }
          };
          xhr.send();
        });

      window.onload = function () {
        document.getElementById("photo").src = "http://192.168.1.64:81/stream";
      };
    </script>
  </body>
</html>
