<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Autonomous Robot Car</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        font-family: Arial;
        text-align: center;
        margin: 0px auto;
        padding-top: 30px;
      }
      table {
        margin-left: auto;
        margin-right: auto;
      }
      td {
        padding: 8 px;
      }
      .button {
        background-color: #2f4468;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin: 6px 3px;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
      .varInput {
        background-color: #ffffff;
        border: 2px solid #00aaff;
        width: 50 px;
        height: 20 px;
        /* font-size: 15 px; */
        color: #ff0000;
      }
      img {
        width: auto;
        max-width: 100%;
        height: auto;
      }
      /* Style the bounding box */
      .bounding-box {
        position: absolute;
        /* border-width: 2px; */
        border: 4px solid;
        /* box-sizing: border-box; */
      }
      #image-container {
        position: relative;
        display: inline-block;
      }
      .hidden {
        display: none;
      }
    </style>
    <!-- <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script> -->
  </head>
  <body>
    <h1>Autonomous Robot Car</h1>

    <div id="image-container">
      <img src="" id="photo" />
    </div>

    <table>
      <tr>
        <td colspan="3" align="center">
          <button class="button" id="btnPredict">Predict Once</button>
          <button class="button" id="btnStreamPrediction">
            Stream Prediction
          </button>
          <button class="button" id="btnStopStreamPrediction">
            Stop Stream Prediction
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <button class="button" id="btnRunAuto">Run autonomously</button>
          <button class="button" id="btnStopRunAuto">
            Stop run autonomously
          </button>
        </td>
      </tr>
      <tr>
        <td align="center">
          <button
            class="button"
            onmousedown="toggleCheckbox('veerLeft');"
            ontouchstart="toggleCheckbox('veerLeft');"
            onmouseup="toggleCheckbox('stop');"
            ontouchend="toggleCheckbox('stop');"
          >
            Veer Left
          </button>
        </td>
        <td colspan="3" align="center">
          <button
            class="button"
            onmousedown="toggleCheckbox('forward');"
            ontouchstart="toggleCheckbox('forward');"
            onmouseup="toggleCheckbox('stop');"
            ontouchend="toggleCheckbox('stop');"
          >
            Forward
          </button>
        </td>
        <td align="center">
          <button
            class="button"
            onmousedown="toggleCheckbox('veerRight');"
            ontouchstart="toggleCheckbox('veerRight');"
            onmouseup="toggleCheckbox('stop');"
            ontouchend="toggleCheckbox('stop');"
          >
            Veer Right
          </button>
        </td>
      </tr>
      <tr>
        <td align="center">
          <button
            class="button"
            onmousedown="toggleCheckbox('left');"
            ontouchstart="toggleCheckbox('left');"
            onmouseup="toggleCheckbox('stop');"
            ontouchend="toggleCheckbox('stop');"
          >
            Left
          </button>
        </td>
        <td align="center">
          <button
            class="button"
            onmousedown="toggleCheckbox('stop');"
            ontouchstart="toggleCheckbox('stop');"
          >
            Stop
          </button>
        </td>
        <td align="center">
          <button
            class="button"
            onmousedown="toggleCheckbox('right');"
            ontouchstart="toggleCheckbox('right');"
            onmouseup="toggleCheckbox('stop');"
            ontouchend="toggleCheckbox('stop');"
          >
            Right
          </button>
        </td>
      </tr>
      <tr>
        <td align="center">
          <button
            class="button"
            onmousedown="toggleCheckbox('reverseLeft');"
            ontouchstart="toggleCheckbox('reverseLeft');"
            onmouseup="toggleCheckbox('stop');"
            ontouchend="toggleCheckbox('stop');"
          >
            Reverse Left
          </button>
        </td>
        <td colspan="3" align="center">
          <button
            class="button"
            onmousedown="toggleCheckbox('backward');"
            ontouchstart="toggleCheckbox('backward');"
            onmouseup="toggleCheckbox('stop');"
            ontouchend="toggleCheckbox('stop');"
          >
            Backward
          </button>
        </td>
        <td align="center">
          <button
            class="button"
            onmousedown="toggleCheckbox('reverseRight');"
            ontouchstart="toggleCheckbox('reverseRight');"
            onmouseup="toggleCheckbox('stop');"
            ontouchend="toggleCheckbox('stop');"
          >
            Rerverse Right
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="3" align="center">
          <button class="button" id="btnTakePhoto">
            Take and Save a Photo
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="4" align="center">
          <label> Left Speed: Min 185 Max 255</label>
          <button class="button" id="btnLeftSpeedDecrease">-</button>
          <input
            class="varInput"
            type="text"
            id="iptLeftSpeed"
            value="{{leftSpeed}}"
          />
          <button class="button" id="btnLeftSpeedIncrease">+</button>
        </td>
      </tr>

      <tr>
        <td colspan="4" align="center">
          <label> Right Speed: Min 185 Max 255</label>
          <button class="button" id="btnRightSpeedDecrease">-</button>
          <input
            class="varInput"
            type="text"
            id="iptRightSpeed"
            value="{{rightSpeed}}"
          />
          <button class="button" id="btnRightSpeedIncrease">+</button>
        </td>
      </tr>

      <tr>
        <td colspan="4" align="center">
          <label> Servo Pos: L(+) Max 155 R(-) Min 95</label>
          <button class="button" id="btnServoLeft">+</button>
          <input
            class="varInput"
            type="text"
            id="iptServoPos"
            value="{{servoPos}}"
          />
          <button class="button" id="btnServoRight">-</button>
        </td>
      </tr>
    </table>

    <script>
      function toggleCheckbox(x) {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "http://192.168.1.65/action?go=" + x, true);
        xhr.send();
        //if (!streamPredictionEnable) setTimeout(predictOnce, 100);
        if (!streamPredictionEnable) predictOnce();
      }

      function toggleSetValue(x, y) {
        var xhr = new XMLHttpRequest();
        xhr.open(
          "POST",
          "http://192.168.1.65/set?name=" + x + "&value=" + y,
          true
        );
        xhr.send();
        //if (!streamPredictionEnable) setTimeout(predictOnce, 100);
      }

      function changeInput(strESP32EndPoint, strFlaskEndPoint, strIptID) {
        const inputLeftSpeed = document.getElementById(strIptID);
        inputLeftSpeed.addEventListener("change", function () {
          let inputValue = inputLeftSpeed.value;
          console.log(inputValue);
          toggleSetValue(strESP32EndPoint, inputValue);
          updateInput(strFlaskEndPoint, strIptID);
        });
      }
      changeInput("setLeftSpeed", "getLeftSpeed", "iptLeftSpeed");
      changeInput("setRightSpeed", "getRightSpeed", "iptRightSpeed");
      changeInput("setServoPos", "getServoPos", "iptServoPos");
      // let speedStep = 10,
      //   servoStep = 10;
      function requestESP32nFlask(
        strBtnID,
        strESP32EndPoint,
        strFlaskEndPoint,
        strIptID
      ) {
        document
          .getElementById(strBtnID)
          .addEventListener("click", function () {
            toggleCheckbox(strESP32EndPoint);
            // toggleCheckbox('servoPos');
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/" + strFlaskEndPoint, true);
            xhr.setRequestHeader(
              "Content-Type",
              "application/x-www-form-urlencoded"
            );
            xhr.onreadystatechange = function () {
              if (xhr.readyState === 4 && xhr.status === 200) {
                document.getElementById(strIptID).value = xhr.responseText;
              }
            };
            xhr.send();
          });
      }

      requestESP32nFlask(
        "btnLeftSpeedDecrease",
        "leftSpeedDecrease",
        "getLeftSpeed",
        "iptLeftSpeed"
      );
      requestESP32nFlask(
        "btnLeftSpeedIncrease",
        "leftSpeedIncrease",
        "getLeftSpeed",
        "iptLeftSpeed"
      );
      requestESP32nFlask(
        "btnRightSpeedDecrease",
        "rightSpeedDecrease",
        "getRightSpeed",
        "iptRightSpeed"
      );
      requestESP32nFlask(
        "btnRightSpeedIncrease",
        "rightSpeedIncrease",
        "getRightSpeed",
        "iptRightSpeed"
      );
      requestESP32nFlask(
        "btnServoLeft",
        "servoLeft",
        "getServoPos",
        "iptServoPos"
      );
      requestESP32nFlask(
        "btnServoRight",
        "servoRight",
        "getServoPos",
        "iptServoPos"
      );

      function updateInput(
        //strBtnID,
        //strESP32EndPoint,
        strFlaskEndPoint,
        strIptID
      ) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/" + strFlaskEndPoint, true);
        xhr.setRequestHeader(
          "Content-Type",
          "application/x-www-form-urlencoded"
        );
        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4 && xhr.status === 200) {
            document.getElementById(strIptID).value = xhr.responseText;
          }
        };
        xhr.send();
      }
      // Draw bounding boxes around detected objects on the image element upon receiving a response from yolo8
      const alertMessage = [
        "No object detected",
        "Object detected",
        "Closing",
        "Stop",
      ];
      const clsNames = [
        "empty",
        "vase",
        "book",
        "shoes",
        "wall1",
        "wall2",
        "chairFoot",
        "column",
        "drawer",
        "rubbishBin",
        "boxes",
        "tableFoot",
      ];
      // colors of the bounding boxes around the class
      const bbColors = [
        "white",
        "black",
        "red",
        "green",
        "blue",
        "violet",
        "pink",
        "grey",
        "orange",
        "LawnGreen",
        "LightSkyBlue",
        "purple",
      ];
      const clsNumber = clsNames.length; // get the class numbers
      function drawBB(bboxes) {
        // for (let i = 0; i < clsNumber; i++) {
        //   console.log(clsNames[i] + "BB");
        //   document.getElementById(clsNames[i] + "BB").classList.add("hidden");
        // }
        const oldBBoxes = document.getElementsByClassName("bounding-box");
        while (oldBBoxes.length > 0) {
          oldBBoxes[0].parentNode.removeChild(oldBBoxes[0]);
        }
        //var htmlBoundingBox = document.getElementById("vaseBB");
        var bbColor = "DarkRed";
        let returnMessage = "";
        let leftMostPos = 100;
        let rightMostPos = 0;
        let bottomMostPos = 0;
        let maxWidth = 0;
        let closingLimit = 60;
        let stopLimit = 90;

        if (bboxes[0].length > 0) {
          for (let i = 0; i < bboxes[0].length; i++) {
            returnMessage = alertMessage[1];
            //------------------Drawing the bounding box --------------------------
            // if (bboxes[0][i] == 0) {
            //   htmlBoundingBox = document.getElementById("vaseBB");
            //   bbColor = "red";
            //   htmlBoundingBox.classList.remove("hidden");
            // } else if (bboxes[0][i] == 1) {
            //   htmlBoundingBox = document.getElementById("bookBB");
            //   bbColor = "green";
            //   htmlBoundingBox.classList.remove("hidden");
            // } else if (bboxes[0][i] == 2) {
            //   htmlBoundingBox = document.getElementById("shoesBB");
            //   htmlBoundingBox.classList.remove("hidden");
            //   bbColor = "blue";
            // }
            // for (let j = 0; j < clsNumber; j ++){
            //   if (bboxes[0][i] == j) {

            //     break;
            // }
            const htmlBoundingBox = document.createElement("div");
            htmlBoundingBox.className = "bounding-box";
            document
              .getElementById("image-container")
              .appendChild(htmlBoundingBox);
            // htmlBoundingBox = document.getElementById(
            //   clsNames[bboxes[0][i]] + "BB"
            // );
            bbColor = bbColors[bboxes[0][i]];
            //htmlBoundingBox.classList.remove("hidden");
            htmlBoundingBox.style.left = `${
              bboxes[2][i][0] - bboxes[2][i][2] / 2
            }%`;
            htmlBoundingBox.style.top = `${
              bboxes[2][i][1] - bboxes[2][i][3] / 2
            }%`;
            htmlBoundingBox.style.width = `${bboxes[2][i][2]}%`;
            htmlBoundingBox.style.height = `${bboxes[2][i][3]}%`;
            htmlBoundingBox.style.borderColor = bbColor;

            //------------------Returning Info for control--------------------------
            if (bboxes[0][i] != 0) {
              maxWidth =
                maxWidth < bboxes[2][i][2] ? bboxes[2][i][2] : maxWidth;
              bottomMostPos =
                bottomMostPos < bboxes[2][i][1] + bboxes[2][i][3] / 2
                  ? bboxes[2][i][1] + bboxes[2][i][3] / 2
                  : bottomMostPos;
              leftMostPos =
                leftMostPos > bboxes[2][i][0] - bboxes[2][i][2] / 2
                  ? bboxes[2][i][0] - bboxes[2][i][2] / 2
                  : leftMostPos;
              rightMostPos =
                rightMostPos < bboxes[2][i][0] + bboxes[2][i][2] / 2
                  ? bboxes[2][i][0] + bboxes[2][i][2] / 2
                  : rightMostPos;
            }
          }
        } else {
          returnMessage = alertMessage[0];
        }
        if (returnMessage != alertMessage[0]) {
          if (bottomMostPos > closingLimit) {
            returnMessage =
              bottomMostPos > stopLimit ? alertMessage[3] : alertMessage[2];
          }
        }
        return [
          returnMessage,
          leftMostPos,
          rightMostPos,
          bottomMostPos,
          maxWidth,
        ];
      }
      // Make a request to yolo8 to predict an image then draw bounding boxes around the detected objects
      let returnInfo = ["Stop", 0, 100, 100, 100];
      async function predictOnce() {
        var xhr = new XMLHttpRequest();

        xhr.open("POST", "/predict", true);
        xhr.setRequestHeader(
          "Content-Type",
          "application/x-www-form-urlencoded"
        );
        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4 && xhr.status === 200) {
            //console.log(xhr.response);
            bboxes = JSON.parse(xhr.response);
            returnInfo = drawBB(bboxes);
            console.log(`predicted Once: ${returnInfo}`);
          }
        };
        xhr.send();
      }

      document
        .getElementById("btnTakePhoto")
        .addEventListener("click", function () {
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/download", true);
          xhr.setRequestHeader(
            "Content-Type",
            "application/x-www-form-urlencoded"
          );
          xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
              console.log("Image captured");
            }
          };
          xhr.send();
        });
      document
        .getElementById("btnPredict")
        .addEventListener("click", function () {
          predictOnce();
        });
      let streamPredictionEnable = false;
      document
        .getElementById("btnStreamPrediction")
        .addEventListener("click", function () {
          streamPredictionEnable = true;
          streamPrediction();
        });
      document
        .getElementById("btnStopStreamPrediction")
        .addEventListener("click", function () {
          function assertStop() {
            if (streamPredictionEnable) {
              streamPredictionEnable = false;
            } else {
              if (i < 100) {
                setTimeout(assertStop, 10);
                i++;
              }
            }
          }
          let i = 0;
          assertStop();
        });

      function streamPrediction() {
        const timeInterval = 200;
        function loopIteration() {
          if (streamPredictionEnable) {
            predictOnce();
            setTimeout(loopIteration, timeInterval); // Break the loop to avoid blocking the main thread
          }
        }
        loopIteration();
      }

      let runAutoEnable = false;
      document
        .getElementById("btnRunAuto")
        .addEventListener("click", function () {
          runAutoEnable = true;
          streamPredictionEnable = false;
          runAuto();
        });
      document
        .getElementById("btnStopRunAuto")
        .addEventListener("click", function () {
          function assertStop() {
            if (runAutoEnable) {
              runAutoEnable = false;
            } else {
              if (i < 100) {
                setTimeout(assertStop, 10);
                i++;
              }
            }
          }
          let i = 0;
          assertStop();
        });

      function runAuto() {
        const timeInterval = 200;
        function loopIteration() {
          if (runAutoEnable) {
            predictOnce();
            console.log(`returnInfo: ${returnInfo}`);
            switch (returnInfo[0]) {
              case alertMessage[0]:
                console.log("Auto: No object");
                toggleCheckbox("forward");
                break;
              case alertMessage[1]:
                console.log("Auto: Object detected");
                toggleCheckbox("forward");
                break;
              case alertMessage[2]:
                console.log("Auto: Closing");
                requestESP32nFlask(
                  "btnLeftSpeedDecrease",
                  "leftSpeedDecrease",
                  "getLeftSpeed",
                  "iptLeftSpeed"
                );
                requestESP32nFlask(
                  "btnRightSpeedDecrease",
                  "rightSpeedDecrease",
                  "getRightSpeed",
                  "iptRightSpeed"
                );
                toggleCheckbox("forward");
                break;
              case alertMessage[3]:
                console.log("Auto: Stop");
                // function assertStop() {
                //   if (runAutoEnable == true) {
                //     runAutoEnable = false;
                //     toggleCheckbox("stop");
                //   } else {
                //     if (j < 100) {
                //       setTimeout(assertStop, 10);
                //       j++;
                //     }
                //   }
                // }
                // let j = 0;
                // assertStop();
                toggleCheckbox("backward");
                toggleCheckbox("stop");
                toggleCheckbox("backward");
                toggleCheckbox("stop");
                toggleCheckbox("veerLeft");
                toggleCheckbox("stop");
                // function assertContinue() {
                //   if (runAutoEnable == false) {
                //     runAutoEnable = true;
                //   } else {
                //     if (k < 100) {
                //       setTimeout(assertContinue, 10);
                //       k++;
                //     }
                //   }
                // }
                // let k = 0;

                if (returnInfo[0] == alertMessage[3]) {
                  //   assertContinue();
                  // } else {
                  toggleCheckbox("backward");
                  toggleCheckbox("stop");
                  toggleCheckbox("veerRight");
                  toggleCheckbox("stop");
                  // k = 0;
                  // if (returnInfo[0] != alertMessage[3]) {
                  //   assertContinue();
                  //}
                }

                break;
            }
            setTimeout(loopIteration, timeInterval);
          }
        }
        loopIteration();
      }

      window.onload = async function () {
        const camImage = document.getElementById("photo");
        await updateInput("getLeftSpeed", "iptLeftSpeed");
        await updateInput("getRightSpeed", "iptRightSpeed");
        await updateInput("getServoPos", "iptServoPos");
        camImage.src = "http://192.168.1.65:81/stream";
        await predictOnce();
      };
    </script>
  </body>
</html>
